
<nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar">
          <div class="uk-navbar-left"><div>
              <ul class="uk-navbar-nav">
                  <li>
                      <a href="ramas.html">Ramas</a>
                      <div class="uk-navbar-dropdown">
                          <ul class="uk-nav uk-navbar-dropdown-nav">
                              <li><a href="/academica">Academica</a></li>
                              <li><a href="/artes">Artes</a></li>
                              <li><a href="/comercial">Comercial</a></li>
                              <li><a href="/deportes">Deportes</a></li>
                              <li><a href="/industrial">Industrial</a></li>
                              <li><a href="/promocion">Promocion Social</a></li>
                          </ul>
                      </div>
                  </li>
              </ul>
          </div></div>
        <a class="uk-navbar-item uk-logo" href="/"></a>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
              <li>
                <a href="#">Modalidades</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li><a href="/ciencias_matematicas">Ciencias matematicas</a></li>
                      <li><a href="/humanidades">Humanidades</a></li>
                      <li><a href="/sistemas">Sistemas</a></li>
                      <li><a href="/programacion">Programación</a></li>
                      <li><a href="/quimica">Química Industrial</a></li>
                      <li><a href="/musica">Musica</a></li>
                      <li><a href="/plastica">Plástica</a></li>
                      <li><a href="/gestion">Gestion Social</a></li>
                      <li><a href="/gastronomia">Gastronomía</a></li>
                      <li><a href="/administracion">Administración Comercial</a></li>
                      <li><a href="/contabilidad">Contabilidad</a></li>
                      <li><a href="/construcciones">Construciones</a></li>
                      <li><a href="/electricidad">Electricidad</a></li>
                      <li><a href="/electronica">Electrónica</a></li>
                      <li><a href="/madera">Madera</a></li>
                      <li><a href="/metalisteria">Metalistería</a></li>
                      <li><a href="/moda">Moda</a></li>
                    </ul>
                </div>
          
            </li>
           
            
         
          
           
        </div></div>
    </div>
</nav>

