<style>
    .menuArribe{
     height:  70px; 
    }
  nav,
  .navbar-toggle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  nav {
    position: fixed;
    z-index: 10;
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    color: #161616;
  }
  
  .nav-hide { display: none; }
  
  nav ul {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0 !important;
  }
  
  nav ul li { list-style: none; }
  
  nav ul li a {
    font-size: 35pt;
    color: inherit;
    font-weight: bolder;
    text-decoration: none;
  }
  
  
  .navbar-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    z-index: 20;
    cursor: pointer;
  }
  
  .bar1,
  .bar2,
  .bar3 {
    width: 100%;
    height: 8px;
    margin-bottom: 5px;
    background-color: #161616;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-on .bar1,
  .navbar-on .bar2,
  .navbar-on .bar3 { background-color: #161616; }
  
  .navbar-on .bar1 {
    transform-origin: 10% 40%;
    transform: rotate(45deg);
  }
  
  .navbar-on .bar3 {
    transform-origin: 10% 40%;
    transform: rotate(-45deg);
  }
  
  a:hover{
    text-decoration: none;
  }
  
  .navbar-on .bar2 { background-color: transparent; }
  </style>
  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  
  <div class="navbar-toggle" title="<a href=" https://www.jqueryscript.net/menu/"> </a> <div class="bar1">
    </div>
    <div class="bar2">
    </div>
    <div class="bar3">
    </div>
  </div>
  
  
  
  <nav class="nav-hide">
    <ul>
  
      <li><a href="https://gieminem.herokuapp.com/">Inicio</a></li>
  
      <li><a href="https://gieminem.herokuapp.com/ramas">Ramas</a></li>
  
  
      <li><a href="https://gieminem.herokuapp.com/decirQuienEs">Login</a></li>
     
  
  
    </ul>
  
  </nav>
  
  <script>
  
  $(function(){
    $('.navbar-toggle, nav').click(function(){
      $('.navbar-toggle').toggleClass('navbar-on');
      $('nav').fadeToggle();
      $('nav').removeClass('nav-hide');
    });
  });
  </script>
