<% include partials/_head %>
<% include partials/_menu %>


<h1>Hola! Un gusto tenerte de nuevo, <%= user.nombre %></h1>

<% if(!user.datos) { %>
    <p>Sin datos</p>
<% }else{ %>
    <p>Con datos</p>
<% } %>