<% include partials/_head %>
<% include partials/_menu %>


<div class="container mt-5">
    <h1>Ya tenemos tus resultados <%= user.nombre %>!</h1>
    <div class="row">
       <%= resultados.actividadesAireLibre %>
    </div>
</div>
